@hiiretail:registry=https://repo.extendaretail.com/repository/npm-group/
//repo.extendaretail.com/repository/npm-group/:email=gleb.bashkatov@extendaretail.com
//repo.extendaretail.com/repository/npm-group/:always-auth=true
//repo.extendaretail.com/repository/npm-group/:_auth=${EXTENDA_NEXUS_TOKEN}
